.container {
    padding-top: 50px;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3{
    color: #3E498D;
    font-size: 22px;
}

.location-box{
    margin-top: 50px;
    width: 1000px;
    height: 500px;
    border: solid black;
    
}